// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-color: rgb(172, 131, 84);
}

.container {
  background-color: aqua;
}

.card {
  background-color: rgb(27, 112, 112);
}
