.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 30px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.body {
  background-color: #00414E;
}

.container {

  margin-bottom: 30px;
}

.btn-ghost {
  color: #00414E;
  border: 1px solid#00414E;
  padding: -2px 86px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
