
<div class="body">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/files/TaNou_Bio-Logo_full_1_250x_2x_fc5b9f35-511e-41d6-b02f-f800cbbd426b_150x@2x.png?v=1632786228" height="78.3" width="150" />
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled">Accueil </a>
    <li class="nav-item">
    <a class="nav-link disabled">Notre Association</a>
     <li class="nav-item">
    <a class="nav-link disabled">Contact</a>
     </li>
     </li>
  </li>
</ul>
    </div>
  </div>


<body>
  <section class="carousel">
              <ul class="carousel-items">
                  <li class="carousel-item">
                          <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/files/bon-vivant-Ooj1c6fhdFM-unsplash_1_2_1900x.jpg?v=1641256074"/>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">Just another awesome article</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">Yet another awesome article</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">Wow! Another awesome article</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">That's some awesome article</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">Just a lot or articles !</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">One more, one more !</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">Again !</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
                  <li class="carousel-item">
                      <div class="card">
                          <h2 class="card-title">One last</h2>
                          <img src="https://placeimg.com/572/322/animals" />
                          <div class="card-content">
                              <p>Mewl for food at 4am chase mice. Scratch leg; meow for can opener to feed me purr when being pet nya nya nyan catasstrophe, fooled again thinking the dog likes me cough hairball on conveniently placed pants.</p>
                              <a href="#" class="button">Read more</a>
                          </div>
                      </div>
                  </li>
              </ul>
          </section>
      </main>
</body>
