<div class="card-trip">
  <%= image_tag product.image_url %>
  <div class="card-trip-infos">
    <div>
      <h2><%= product.name %></h2>
    </div>
    <h2 class="card-trip-pricing"><%= number_to_currency(product.price, unit: '€') %></h2>
  </div>
</div>
