<div class="body">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/files/TaNou_Bio-Logo_full_1_250x_2x_fc5b9f35-511e-41d6-b02f-f800cbbd426b_150x@2x.png?v=1632786228" height="78.3" width="150" />
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled">Accueil </a>
    <li class="nav-item">
    <a class="nav-link disabled">Notre Association</a>
     <li class="nav-item">
    <a class="nav-link disabled">Contact</a>
     </li>
     </li>
  </li>
</ul>
    </div>
  </div>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/products/TiPaniebio-15euros_300x.jpg?v=1643981526" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ti Panier Bio</h5>
        <p class="card-text"></prend-moi></p>
      </div>
      <div class="card-footer">
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-ghost" href="#">Je choisis ce panier!</a>
      </div>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/products/Paniebio-30euros_300x.jpg?v=1643981520" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Panier Bio</h5>
        <p class="card-text">
      </div>
      <div class="card-footer">
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-ghost" href="#">Je choisis ce panier!</a>
      </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/products/GwoPaniebio-50euros_300x.jpg?v=1643981523" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gros Panier Bio</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
      <div class="d-grid gap-2 col-6 mx-auto">

<div data-controller="bouton">
    <button type="button" class="btn btn-primary"> <h2><span data-action="click->bouton#moins" data-bouton-target="moinsBouton">-</span></button> <span data-bouton-target="chiffre" >1</span> <button type="button" class="btn btn-primary"> <span data-action="click->bouton#plus" data-bouton-target="plusBouton">+</span></h2></button>
  </div></button>


















       <a class="btn btn-ghost" href="#">Je choisis ce panier!</a>
      </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>

  <div>
    Pour continuer vous etes obliger de choisir un panier
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  </div>
  </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">Poursuivre la commande

</div>>
