<div class="body">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/files/TaNou_Bio-Logo_full_1_250x_2x_fc5b9f35-511e-41d6-b02f-f800cbbd426b_150x@2x.png?v=1632786228" height="78.3" width="150" />
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled">Acceuil </a>
  </li>
</ul>
    </div>
  </div>

<div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/products/GwoPaniebio-50euros_300x.jpg?v=1643981523" >
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
            <li> 1 kg de radis noirs</li>
            <li>300 g de mâche</li>
            <li>1 kg de betteraves</li>
            <li>2 kg de pommes de terre</li>
            <li>1 kg de poireaux </li></p>

            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Button</button>
          </div>
    </div>
  </div>
</div>
