<div class="body">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/files/TaNou_Bio-Logo_full_1_250x_2x_fc5b9f35-511e-41d6-b02f-f800cbbd426b_150x@2x.png?v=1632786228" height="78.3" width="150" />
    <ul class="nav justify-content-end">
  <li class="nav-item">

    <a class="nav-link disabled">Accueil </a>
    <li class="nav-item">
    <a class="nav-link disabled">Notre Association</a>
     <li class="nav-item">
    <a class="nav-link disabled">Contact</a>
     </li>
     </li>
  </li>
</ul>
    </div>
  </div>


<div class="container" style="margin-left: 310px">
<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0246/4035/6429/products/GwoPaniebio-50euros_300x.jpg?v=1643981523" >
    </div>
    <div class="col-md-8">
       <div class="card-body" style=" margin-left: 124px" >
        <h5 class="card-title">Description</h5>
        <p>Gwo panier bio de la semaine du 4 avril :</p>
<ul style="columns:2;">
<li>Banane jaune 1kg</li>
<li>Courgette 500g</li>
<li>Tomate 500g</li>
<li>Mangue 500g</li>
<li>Chou rave 500g</li>
<li>Corossol 1 pièce</li>
<li>Chou kale 1 botte</li></ul>
 </div >
    </div>
    </div>
       <div class="card">
<p>Faites frétiller vos papilles, avec notre grand panier bio de la semaine !</p>
<p>Il est le reflet de la saison, mais aussi de conditions naturelles parfois exceptionnelles. Ponctuellement, la disponibilité de certains produits annoncés peut donc varier ; ils seront remplacés par un produit similaire.
 </p>
 </div>
  </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button">Button</button>
  <div data-controller="bouton">

    <h2><span data-action="click->bouton#moins" data-bouton-target="moinsBouton">-</span> <span data-bouton-target="chiffre" >1</span> <span data-action="click->bouton#plus" data-bouton-target="plusBouton">+</span></h2>
  </div>
</div>
</div>
